<!--
<section>
  <div *ngFor="let game of games"> 
    <a href="#">
      <img src="{{game.image}}" class="img-responsive" alt="" height="150" width="250">
      <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
          <div class="title">
            {{game.name}} - {{game.id}}
          </div>
          <div class="description">
            {{game.description}}
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
-->
<section>
  <div *ngFor="let game of games">
    <div style="float:left;padding:5px;margin:5px">
      <img src="{{game.image}}" alt="{{game.name}}" height="150" width="250">
    </div> 
  </div>
</section>